[submodule "thirdparty/ultrajson"]
  path = thirdparty/ultrajson
  url = git://github.com/esnme/ultrajson.git
[submodule "thirdparty/jsoncpp"]
  path = thirdparty/jsoncpp
  url = git://github.com/rjeczalik/json-cpp.git
[submodule "thirdparty/gtest"]
  path = thirdparty/gtest
  url = git://github.com/cpp-netlib/gtest.git
[submodule "thirdparty/yajl"]
  path = thirdparty/yajl
  url = git://github.com/lloyd/yajl.git
